* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    font-family: ABeeZee, helvetica, sans serif;
    color: rgb(150, 193, 195);
    background-color: rgb(74, 74, 74);
}

#content {
    width: 350px;
    height: 600px;
    background-color: rgb(74, 74, 74);
    margin: 0 auto;
    padding: 6%;
}

.notepad {
    width: 100%;
    height: 50%;
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
}

.squareone {
    width: 100%;
    height: 10%;
}

.squaretwo {
    width: 100%;
    height: 20%;
}

.squarebottom {
    width: 100%;
    height: 70%;
}

.top {
    width: 50%;
    height: 100%;
    margin: 0;
}

.date {
    background-color: rgb(150, 193, 195);
    width: 100%;
    height: 15%;
    padding: 0;
    margin: 0 auto;
}

.inline {
    display: inline-block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.paddingleft {
    padding-left: 10%;
}

.logo {
    width: auto;
    height: 100%;
}

img {
    width: 100%;
}

.menu {
    width: 33.33%;
    height: 100%;
    padding: 8%;
}


/*----------

Text styling

----------*/

h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    padding-top: ;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 0;
    padding-top: 5%;
    color: rgb(236, 236, 236);
}


/*---

Lists

---*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
}
